{% extends "base.html" %}

{% block title %}Dashboard Analitik{% endblock %}

{% block content %}
    <div class="card">
        <h1 style="text-align: center; margin-bottom: 32px;">Laporan Analitik Attrition Karyawan</h1>
        
        <div class="dashboard-container">
            <iframe width="1035" height="898" src="https://lookerstudio.google.com/embed/reporting/82072749-17f4-4b69-a989-44482c844dc9/page/niUrF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
    </div>
{% endblock %}